@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');
@import "tailwindcss";


html {
  scroll-padding-top: 60px; /* adjust based on navbar height */
}

body {
  font-family: 'Josefin Sans', sans-serif;
}
.impact-font {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/* Glow + Shadow for Number */
.glowing-text {
  color: #FBFF00;
  
}

/* Outline effect for Trips Completed */
.outlined-text {
  color: #029EA1;
  -webkit-text-stroke: 2px #FBFF00; /* outline color */
  paint-order: stroke fill;
  
}

.poppins-font {
  font-family: 'Poppins', sans-serif;
}
